/* https://paddle8.com/work/ellsworth-kelly/78782-color-squares-4/ */

body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	display: flex;
}
/* Use this class on the PARENT of whatever you are trying to center; remember that the PARENT tells the CHILD what to do! */
/* NOTE: Centering content only works when the display property is "flex"! */
.center-content {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Use this class on your image to restrict the size so it stays completely within it's parent div */
.restrict-img-size {
	height: 25%;
	width: 75%;
}

.col {
	height: 100%;
	width: calc(100%/3);
	background-color: #A9A9A9 ;
}

.tame {
	background-color: #A69898;
}

.arctic {
	background-color: #A69898;
}

.opaque {
	opacity: 0.5;
}

.trophy {
	content: url("images/lombardi_trophy.jpg");
}